<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
	<h1>go outside ffs</h1>
	<hr>
	<table class="table">
	  <thead>
		<th>Trail</th>
		<th>Distance</th>
		<th>Neighborhood</th>
		<th>Status</th>
	  </thead>
	  <tbody id="trails-table">
	  </tbody>
  </div>
</body>
<script type="text/javascript"
        src="{{ url_for('static', filename='main.js') }}"></script>
</html>

